# ==========================================================
# Python
# ==========================================================

__pycache__/
*.py[cod]
*$py.class

# ==========================================================
# Virtual Environments
# ==========================================================

venv/
.venv/
env/

# ==========================================================
# Environment Variables
# ==========================================================

.env

# ==========================================================
# Jupyter
# ==========================================================

.ipynb_checkpoints/

# ==========================================================
# macOS
# ==========================================================

.DS_Store

# ==========================================================
# IDE
# ==========================================================

.vscode/
.idea/

# ==========================================================
# Logs
# ==========================================================

logs/
*.log

# ==========================================================
# Build
# ==========================================================

build/
dist/
*.egg-info/

# ==========================================================
# Cache
# ==========================================================

.cache/
.pytest_cache/
.mypy_cache/

# ==========================================================
# Streamlit
# ==========================================================

.streamlit/secrets.toml

# ==========================================================
# Temporary Files
# ==========================================================

*.tmp
*.temp